# Ignore configuration file
config.json

# Ignore system files
.DS_Store

# Ignore node_modules directory
node_modules/

# Ignore compiled files
*.o
*.out

# Ignore the binary file
bot

# Ignore VS Code settings directory
.vscode/

# Ignore logs
*.log

# Ignore other temporary files
*.tmp